{% extends 'base.html.twig' %}

{% block title %}FormuleRecruteur index{% endblock %}

{% block body %}
    <h1>FormuleRecruteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Forfait</th>
                <th>Nombre_annonce</th>
                <th>Nombre_cv</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formule_recruteur in formule_recruteurs %}
            <tr>
                <td>{{ formule_recruteur.id }}</td>
                <td>{{ formule_recruteur.nom }}</td>
                <td>{{ formule_recruteur.forfait }}</td>
                <td>{{ formule_recruteur.nombreAnnonce }}</td>
                <td>{{ formule_recruteur.nombreCv }}</td>
                <td>{{ formule_recruteur.prix }}</td>
                <td>
                    <a href="{{ path('app_formule_recruteur_show', {'id': formule_recruteur.id}) }}">show</a>
                    <a href="{{ path('app_formule_recruteur_edit', {'id': formule_recruteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formule_recruteur_new') }}">Create new</a>
{% endblock %}
